<div class="container">
    <h2>Log In</h2>
    <%= bootstrap_form_tag url: "/login" do |f|%>

      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.submit "Submit" %>

    <% end %>

    <%= link_to 'Logout', '/logout' %>
    <br>
      New User? <%= link_to "Sign Up", new_user_path %>
</div>
