<div class="user_picture">
  <div class="container">
    <div class='col-sm-6 col-sm-offset-3 well main_login'>
       <%= bootstrap_form_for :user, url: '/user' do |f|%>
          <%= f.text_field :first_name %>

          <%= f.text_field :last_name %>

          <%= f.text_field :email %>

          <%= f.password_field :password %>

          <%= f.text_field :phone_number %>

        <%= f.submit 'Submit', class: 'btn btn-success' %>
      <% end %>
    </div>

  </div>
</div>
