<div class="container">

 <%= bootstrap_form_for :user, url: '/user' do |f|%>
    <%= f.text_field :first_name %>

    <%= f.text_field :last_name %>

    <%= f.text_field :email %>

    <%= f.password_field :password %>

    <%= f.text_field :phone_number %>

  <%= f.submit 'Submit' %>
<% end %>

</div>

