<div class="main_picture">

<div class='container'>
  <div id="requests">

  </div>
  <h2 class='header'><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Trips</h2>
  <div class='well'>
    <table class='table'>
      <% if @trips.count >= 1 %>
        <tr>
          <td>Driver</td>
          <td>Rider</td>
          <td>Pickup Location</td>
          <td>Final Destination</td>
          <td>Directions</td>
        </tr>

        <% @trips.each do |trip| %>

          <tr>
            <td><%=trip.driver.first_name + " " + trip.driver.last_name%></td>
            <td><%=trip.rider.first_name + " " + trip.rider.last_name%></td>
            <td><%=trip.rider_origin_loc%></td>
            <td><%=trip.destination_loc%></td>
            <td><a href="https://www.google.com/maps/dir/<%= trip.address2google %>">Map</a></td>
          </tr>

        <% end %>


      <% else %>
        <h4>No trips found</h4>
      <% end %>
    </table>
  </div>
</div>

<div class='container'>
  <h2 class='header'><span class="glyphicon glyphicon-time" aria-hidden="true"></span>  Pending Requests</h2>
  <div class='well'>


  <% if @requests.count >= 1 %>
    <table class='table'>

      <tr>
          <td>Origin</td>
          <td>Destination</td>
          <td>Driver</td>
      </tr>
      <% @requests.each do |request| %>
        <tr>
          <td><%=request.origin_loc%></td>
          <td><%=request.destination_loc%></td>
          <td><%=request.driver ? "Yes" : "No"%></td>
        </tr>
      <% end %>
    <% else %>
      <h4>No requests found</h4>
    <% end %>
    </table>


  </div>
</div>
</div>



