<!DOCTYPE html>
<html>
<head>
  <title>QuickPool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h2>Log In</h2>
  <%= form_tag "/login" do %>

    Email: <%= text_field_tag :email %>
    Password: <%= password_field_tag :password %>
    <%= submit_tag("Login") %>
  <% end %>

  <%= link_to 'Logout', '/logout' %>

<%= yield %>

</body>
</html>
