<!DOCTYPE html>
<html>
<head>
  <title>QuickPool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
    <% if current_user%>
      <a class="navbar-brand" href=<%= user_path(current_user.id) %>>QuickPool</a>
    <% else %>
      <a class="navbar-brand" href=<%= root_path %>>QuickPool</a>
    <% end %>
    </div>
  </nav>


<%= yield %>

</body>
</html>
